{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}Over{% endblock%}

{% block body %}
    <header>
        <h1>Over Mij</h1>
    </header>
    <article>
        <p>Hoi allemaal! Mijn naam is Iris en ik ben 17 jaar oud.
            Op het moment zit ik in het tweede jaar van de mbo opleiding onderwijsassistent.
            Nog een jaartje bikkelen en ik kan naar de hbo.
            Ik ben heel erg benieuwd hoe alles gaat lopen en welke opleiding ik precies ga kiezen, want ik twijfel nog heel erg.<br >
            <br />
            Mijn papa is heel goed met computers en met sites maken en hij wilde daarom graag voor mij deze blog maken.
            Alleen wist ik eerst niet zo goed waarover ik dan een blog zou moeten maken.
            Ik kan niet goed koken, in make-up ben ik ook niet de beste, beauty is niet voor mij weggelegd en sportief ben ik al helemaal niet.<br />
            <br />
            Toen kreeg ik afgelopen jaar de kans aangeboden om voor negen weken lang naar Engeland toe te gaan om daar stage te gaan lopen op een basisschool.
            Ik heb deze kans met beide handen aangenomen en nu ga ik dus vanaf 28 januari tot en met 1 april 2017 in Engeland in een gastgezin verblijven!
            Ik heb er ontzettend veel zin in!
            Dit was ook de perfecte smoes om een blog te beginnen, omdat ik dus iets spannends ga doen en graag iedereen op de hoogte wil houden..<b />
            <br />
            Heel erg bedankt dat je mijn blog wilt gaan lezen! Veel plezier om meer over mij te weten te komen!<br />
            <br />

            xx Iris
        </p>
    </article>
{% endblock %}
